*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

header{
    background-color: lightblue;
    padding: 10px 0px;
}

.col-20{
    width: 20%;
    height: 75px;
}
.col-60{
    width: 60%;
    height: 75px;
}

.bg-orange{
    background-color: orange;
}

.border-black{
    border: 1px solid black
}